* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
  }
  
  :root {
    --clr-light-1: #f9f9ec;
    --clr-light-2: #f5f7e4;
    --clr-accent-1: #69925a;
    --clr-accent-2: #344814;
    --clr-dark-1: #13180c;
  
    --ff-primary: 'Outfit', sans-serif;
  }
  
  body {
    color: var(--clr-dark-1);
    text-align: center;
  }
  
  /* TopBar*/
  
  .topbar {
    background-color: var(--clr-light-1);
  }
  
  .topMenuCategory {
    margin: 0 20px;
  }