.header {
    margin-top: 40px;
}

.headerTitles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lora', serif;
}

.headerTitleLg {
    position: absolute;
    font-size: 70px;
    top: 5%;
    z-index: 999;
}

.headerTitleSm {
    position: relative;
    font-size: 20px;
}

.headerImg {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-top: 50px;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}