  footer {
    background-color: var(--bg-medium);
  }

  .row {
    width: 100%;
  }

  .menuTitle {
    color: var(--clr-links);
    font-weight: 700;
  }

  .listItem {
    margin-bottom: 10px;
  }

  .contactsIcon {
    font-size: 25px;
    color: var(--clr-links);
    margin-right: 10px;
    cursor: pointer;
}