.carousel {
    color: var(--clr-secondary);
}

.sliderImage {
    height: 100vh;
    opacity: 0.6;
}

.sliderImageMin {
    display: none;
}

.sectionColor {
    background-color: var(--bg-dark);
}

.slide1,
.slide2,
.slide3 {
    margin-bottom: 140px;
}

.slide2,
.slide3 {
    float: right;
}

@media (max-width: 768px) {

    .slide1,
    .slide2,
    .slide3 {
        margin-bottom: 0;
    }

    .sliderImage {
        height: 80vh;
    }
}