.carousel-inner {
    max-height: 770px;
    color: var(--bg-light);
}

.carousel-caption {
    bottom: 15%;
}

.sliderImage {
    height: 100vh;
    opacity: 0.6;
}

.sliderImageMin {
    display: none;
}

.sectionColor {
    background-color: var(--bg-dark);
}

.slide1,
.slide2,
.slide3 {
    margin-bottom: 140px;
}

.slide2,
.slide3 {
    float: right;
}

@media (max-width: 960px) {
    .carousel-inner {
        max-height: unset;
        color: var(--bg-light);
    }  

    .slide1,
    .slide2,
    .slide3 {
        margin-bottom: 0;
    }

    .sliderImage {
        height: 80vh;
    }

    .carousel-caption {
        bottom: 10%;
    }
}