@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif
}

:root{
    --txt: #262626;
    --button:#acbfa4;
    --bg: #e2e8ce;
    --c1:#D9B08C;
    --c2:#d2d68d;
    --c3:#116466;
}


.main h3 {
  color: var(--txt);
  font-size: 2em;
  padding: 0.3em; 
  text-align: center; 
  margin: 0;
  padding: 1em;
  
  
}

.main {
  background-color: var(--bg);
  min-height: 65vh;
  width: 100%;
}

 