.catheader {
    min-height: 35vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.4)), url(../../../public/images/catalogue_main_bg.jpg);
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.catheader h1 {
    font-size: 3em;
    border: 1px solid;
    padding: 0.2em;
    text-align: center;
    color: var(--bg-light);
    font-family: var(--ff-titles);
    text-transform: uppercase;
}